In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv('data.csv')

In [4]:
dataset

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
1,2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
2,3,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,NaN,0.65,9.8,5.0
3,4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
4,5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,1597,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
1597,1598,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
1598,1599,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
1599,1600,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0
1600,1601,7.2,0.390,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6.0

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    1601 non-null   int64
 1   fixed acidity         1600 non-null   float64
 2   volatile acidity      1601 non-null   float64
 3   citric acid           1600 non-null   float64
 4   residual sugar        1601 non-null   float64
 5   chlorides             1598 non-null   float64
 6   free sulfur dioxide   1600 non-null   float64
 7   total sulfur dioxide  1600 non-null   float64
 8   density               1600 non-null   float64
 9   pH                    1600 non-null   float64
 10  sulphates             1601 non-null   float64
 11  alcohol               1601 non-null   float64
 12  quality               1600 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 162.7 KB

In [10]:
# The method below was used because it would be easy to recall using dataset rathe than a different variable, also there is no need calling or the unmodified data.
dataset.dropna(inplace = True)

In [11]:
dataset

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
1,2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
3,4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
4,5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
5,6,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,1597,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
1597,1598,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
1598,1599,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
1599,1600,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0
1600,1601,7.2,0.390,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6.0

In [17]:
dataset.describe()

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000
mean,801.060968,8.320616,0.527681,0.271477,2.540761,0.087500,15.861722,46.498429,0.996747,3.311358,0.658611,10.426053,5.637964
std,460.740942,1.740134,0.179045,0.194807,1.413076,0.047175,10.429385,32.998659,0.001889,0.154548,0.169786,1.066706,0.807772
min,1.000000,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,402.500000,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,801.000000,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,1199.500000,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997845,3.400000,0.730000,11.100000,6.000000
max,1601.000000,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [23]:
dataset.drop_duplicates()

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
1,2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
3,4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
4,5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
5,6,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,1597,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
1597,1598,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
1598,1599,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
1599,1600,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0
1600,1601,7.2,0.390,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6.0

In [28]:
dataset['fixed acidity'].describe()

count    1591.000000
mean        8.320616
std         1.740134
min         4.600000
25%         7.100000
50%         7.900000
75%         9.200000
max        15.900000
Name: fixed acidity, dtype: float64

In [29]:
dataset['volatile acidity'].describe()

count    1591.000000
mean        0.527681
std         0.179045
min         0.120000
25%         0.390000
50%         0.520000
75%         0.640000
max         1.580000
Name: volatile acidity, dtype: float64

In [30]:
dataset['citric acid'].describe()

count    1591.000000
mean        0.271477
std         0.194807
min         0.000000
25%         0.090000
50%         0.260000
75%         0.420000
max         1.000000
Name: citric acid, dtype: float64

In [31]:
dataset['residual sugar'].describe()

count    1591.000000
mean        2.540761
std         1.413076
min         0.900000
25%         1.900000
50%         2.200000
75%         2.600000
max        15.500000
Name: residual sugar, dtype: float64

In [32]:
dataset['chlorides'].describe()

count    1591.000000
mean        0.087500
std         0.047175
min         0.012000
25%         0.070000
50%         0.079000
75%         0.090000
max         0.611000
Name: chlorides, dtype: float64

In [33]:
dataset['free sulfur dioxide'].describe()

count    1591.000000
mean       15.861722
std        10.429385
min         1.000000
25%         7.000000
50%        14.000000
75%        21.000000
max        72.000000
Name: free sulfur dioxide, dtype: float64

In [34]:
dataset['total sulfur dioxide'].describe()

count    1591.000000
mean       46.498429
std        32.998659
min         6.000000
25%        22.000000
50%        38.000000
75%        62.000000
max       289.000000
Name: total sulfur dioxide, dtype: float64

In [35]:
dataset['density'].describe()

count    1591.000000
mean        0.996747
std         0.001889
min         0.990070
25%         0.995600
50%         0.996750
75%         0.997845
max         1.003690
Name: density, dtype: float64

In [36]:
dataset['pH'].describe()

count    1591.000000
mean        3.311358
std         0.154548
min         2.740000
25%         3.210000
50%         3.310000
75%         3.400000
max         4.010000
Name: pH, dtype: float64

In [37]:
dataset['sulphates'].describe()

count    1591.000000
mean        0.658611
std         0.169786
min         0.330000
25%         0.550000
50%         0.620000
75%         0.730000
max         2.000000
Name: sulphates, dtype: float64

In [38]:
dataset['alcohol'].describe()

count    1591.000000
mean       10.426053
std         1.066706
min         8.400000
25%         9.500000
50%        10.200000
75%        11.100000
max        14.900000
Name: alcohol, dtype: float64

In [39]:
dataset['quality'].describe()

count    1591.000000
mean        5.637964
std         0.807772
min         3.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         8.000000
Name: quality, dtype: float64

In [40]:
dataset['ID'].describe()

count    1591.000000
mean      801.060968
std       460.740942
min         1.000000
25%       402.500000
50%       801.000000
75%      1199.500000
max      1601.000000
Name: ID, dtype: float64

In [53]:
dataset.corr

<bound method DataFrame.corr of         ID  fixed acidity  volatile acidity  citric acid  residual sugar  \
0        1            7.4             0.700         0.00             1.9
1        2            7.8             0.880         0.00             2.6
3        4           11.2             0.280         0.56             1.9
4        5            7.4             0.700         0.00             1.9
5        6            7.4             0.660         0.00             1.8
...    ...            ...               ...          ...             ...
1596  1597            5.9             0.550         0.10             2.2
1597  1598            6.3             0.510         0.13             2.3
1598  1599            5.9             0.645         0.12             2.0
1599  1600            6.0             0.310         0.47             3.6
1600  1601            7.2             0.390         0.44             2.6

      chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0         0.076                 11.0                  34.0  0.99780  3.51
1         0.098                 25.0                  67.0  0.99680  3.20
3         0.075                 17.0                  60.0  0.99800  3.16
4         0.076                 11.0                  34.0  0.99780  3.51
5         0.075                 13.0                  40.0  0.99780  3.51
...         ...                  ...                   ...      ...   ...
1596      0.062                 39.0                  51.0  0.99512  3.52
1597      0.076                 29.0                  40.0  0.99574  3.42
1598      0.075                 32.0                  44.0  0.99547  3.57
1599      0.067                 18.0                  42.0  0.99549  3.39
1600      0.066                 22.0                  48.0  0.99494  3.30

      sulphates  alcohol  quality
0          0.56      9.4      5.0
1          0.68      9.8      5.0
3          0.58      9.8      6.0
4          0.56      9.4      5.0
5          0.56      9.4      5.0
...         ...      ...      ...
1596       0.76     11.2      6.0
1597       0.75     11.0      6.0
1598       0.71     10.2      5.0
1599       0.66     11.0      6.0
1600       0.84     11.5      6.0

[1591 rows x 13 columns]>